// @import "../node_modules/normalize-scss/sass/normalize/import-now";


// my bs variables
//$h1-font-size: 5rem;

@import "../node_modules/bootstrap/scss/bootstrap";

$color: white;

body {
    background: $color;
}

h1 {
    margin: 10px 0;
}

#networkStatus {
    background: red;
    display: none;

    &.offline {
        display: block;
    }
}

#container {
    width: 60%;
    margin: 40px auto;
}

header {
    background-color: #ccc;
    border-radius: 15px;
    padding: 15px;
}

article {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

article+article {
    border-top: 1px solid #ccc;
}

article>div {
    flex-basis: 100%;
}

article button {
    flex-shrink: 0;
    padding: 3px 2px;
    margin-left: 10px;
}
